:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-blue: #0000ff;
    --transition: .5s;
    --font-body: "Poppins", sans-serif;
    --color-text: #007BFF;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

html {
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
    transition: var(--transition);
}

a:hover {
    color: var(--color-blue);
}


/*********************** principal-page ***********************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


header h1 {
    font-size: 24px;
}

.container {
    width: 100%;
    height: 100vh;   
    background-image: linear-gradient( to top, rgba(0, 0, 0, .8), 
    rgba(0, 0, 0, .3)),
    url(../images/video\ mar.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.principal-page {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
/*********************** fim principal-page ***********************/

/*********************** principal ***********************/
.principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--color-light); 
    text-align: center;   

    & h2 {
        font-size: clamp(20px, 4vw, 40px);
    }

    & p {
        width: 60%;
        text-wrap: balance;
        line-height: 1.6;
    }
}

.btn {
    border: 3px solid var(--color-blue);
    padding: 8px 30px;
    background-color: var(--color-blue);
    border-radius: 70px;
    transition: background-color var(--transition);

    &:hover {
        background-color: transparent;
    }
}
/*********************** fim principal ***********************/
.content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.content-section .image {
    flex: 1;
    padding: 20px;
    min-width: 300px;
}

.content-section .image img {
    width: 90%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.content-section .text {
    flex: 1;
    padding: 10px;
    min-width: 300px;
}

.content-section .text h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.content-section .text p {
    gap: 10px;
    margin: 25px;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: black;
}

.content-section .text button {
    background-color: var(--color-text);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 15px;
}

.content-section .text button:hover {
    background-color: var(--color-blue);
}






#artext {
    font-size: 60px;
    background: linear-gradient(to left, #001f3f 0%, 
    #0074D9 20%, 
    #00BFFF 40%, 
    #40E0D0 60%, 
    #00FFFF 70%, 
    #008080 80%, 
    #20B2AA 90%, 
    #00CED1 100%);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animeted 5s linear infinite;
}

@keyframes animeted {
    to{background-position-x: 161px ;}
}

/*********************** fim segunda pagina ***********************/
/*********************** terceira pagina ***********************/

.solucao-oceana {
    text-align: center;
    padding: 80px;
    margin: 0 auto;
}

.solucao-oceana h1 {
    color: var(--color-blue);
    margin-bottom: 10px;
}

.solucao-oceana p {
    color: black;
    margin-bottom: 20px;
}

.solucoes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.solucao {
    flex: 1;
    margin: 40px;
    max-width: 300px;
}

.solucao img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.solucao h2 {
    color:var(--color-text);
    margin: 10px 0;
}

.solucao p {
    color: #666;
}

/*********************** fim terceira pagina ***********************/
/*********************** quarta pagina ***********************/

.objetivo {
    min-height: 100vh;
    margin: 40px auto;
    width: 90%;
}

.text-objetivo {
    text-align: center;
    margin: 30px 0 50px;
}

.text-objetivo h2 {
    color: var(--color-text);
}

.cards {
    background-image: linear-gradient( to top, rgba(0, 0, 0, .8), 
    rgba(0, 0, 0, .3)),
    url(../images/reciclagem\ card.jpg); ;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease;
    border-radius: 15px;
}

.card:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/*********************** fim quarta pagina ***********************/
/*********************** quinta pagina ***********************/
.cont {
    text-align: center;
    padding: 20px;
}

.topics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.topic {
    text-align: center;
    margin: 10px;
}

.topic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.topic p {
    margin-top: 10px;
    font-weight: bold;
}