:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-blue: #0000ff;
    --transition: .5s;
    --font-body: "Poppins", sans-serif;
    --color-text: #007BFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

html {
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
    transition: var(--transition);
}

a:hover {
    color: var(--color-blue);
}

/* HEADER PAGE */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* MAIN CONTAINER */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.949), rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.principal {
    width: 100%;
    height: 100vh;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--color-light);
    text-align: center;
}

.principal h2 {
    font-size: clamp(20px, 4vw, 40px);
}

.principal p {
    width: 60%;
    text-wrap: balance;
    line-height: 1.6;
}

.botao {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* BUTTONS */
.btn {
    border: 3px solid var(--color-blue);
    padding: 8px 30px;
    background-color: var(--color-blue);
    border-radius: 70px;
    transition: background-color var(--transition);
}

.btn:hover {
    background-color: transparent;
}

.solucao-oceana {
    text-align: center;
    padding: 5rem 0;
    background-color: #f9f9f9;
}

.solucao-oceana h1 {
    color: var(--color-blue);
    margin-bottom: 1rem;
}

.solucoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.solucao {
    display: flex;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    max-width: 80vw;
}

.solucao img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.solucao-texto {
    margin-left: 1rem;
    text-align: left;
}

.solucao h2 {
    color: var(--color-text);
    margin: 1rem 0;
}

.solucao p {
    color: #666;
}

.text-objetivo {
    text-align: center;
    padding: 5rem 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-objetivo h2 {
    color: var(--color-text);
    margin-bottom: 2rem;
}

.text-objetivo p {
    color: #333;
    margin-bottom: 1rem;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 15px;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay .text {
    color: var(--color-light);
    font-size: 1.5rem;
    text-align: center;
}
