:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-blue: #0000ff;
    --transition: .5s;
    --font-body: "Poppins", sans-serif;
    --color-text: #007BFF;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

html {
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
    transition: var(--transition);
}

a:hover {
    color: var(--color-blue);
}

/*********************** principal-page ***********************/

.container {
    width: 100%;
    height: 100vh;   
    background-image: linear-gradient( to top, rgba(0, 0, 0, .8), 
    rgba(0, 0, 0, .3)),
    url(../images/mar\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.principal-page {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#artext {
    font-size: 60px;
    background: linear-gradient(to left, #001f3f 0%, 
    #0074D9 20%, 
    #00BFFF 40%, 
    #40E0D0 60%, 
    #00FFFF 70%, 
    #008080 80%, 
    #20B2AA 90%, 
    #00CED1 100%);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animeted 5s linear infinite;
}

@keyframes animeted {
    to{background-position-x: 161px ;}
}

.botao {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;

}
/*********************** fim principal-page ***********************/

/*********************** principal ***********************/
.principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--color-light); 
    text-align: center;   

    & h2 {
        font-size: clamp(20px, 4vw, 40px);
    }

    & p {
        width: 60%;
        text-wrap: balance;
        line-height: 1.6;
    }
}

.btn {
    border: 3px solid var(--color-blue);
    padding: 8px 30px;
    background-color: var(--color-blue);
    border-radius: 70px;
    transition: background-color var(--transition);

    &:hover {
        background-color: transparent;
    }
}
/*********************** fim principal ***********************/

.objetivo {
    min-height: 100vh;
    margin: 40px auto;
    width: 90%;
}

.text-objetivo {
    text-align: center;
    margin: 30px 0 50px;
}

.cards {
    background-image: linear-gradient( to top, rgba(0, 0, 0, .8), 
    rgba(0, 0, 0, .3)),
    url(../images/reciclagem\ card.jpg); ;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease;
    border-radius: 15px;
}

.card:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
/*********************** fim segunda pagina ***********************/
/*********************** terceira pagina ***********************/

.solucao-oceana {
    text-align: center;
    padding: 80px;
    margin: 0 auto;
}

.solucao-oceana h1 {
    color:var(--color-text);
    margin-bottom: 10px;
}

.solucao-oceana p {
    color: #333;
    margin-bottom: 20px;
}

.solucoes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.solucao {
    flex: 1;
    margin: 20px;
    max-width: 300px;
}

.solucao img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.solucao h2 {
    color:var(--color-text);
    margin: 10px 0;
}

.solucao p {
    color: #666;
}

/*********************** fim terceira pagina ***********************/
/*********************** quarta pagina ***********************/

.cont {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: var(--color-text);
}

.event-list {
    margin-top: 20px;
}

.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
}

.event-date span {
    font-size: 20px;
    font-weight: bold;
}

.event-details {
    flex: 1;
    margin-left: 20px;
}

.event-details h2 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.event-details p {
    margin: 5px 0 0;
    color: #666;
}

.details-button {
    background-color: var(--color-text);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: px;
    cursor: pointer;
}

.details-button:hover {
    background-color: #005bb5;
}
